.button {
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px;
}

.button-link {
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-left: 0px;
}

.button-link:hover {
  text-decoration: underline;
}

.button:hover {
  color: rgb(0, 0, 0);
}

.btn-primary {
  background-color: rgba(255, 0, 0, 0.788);
  color: white;
}

.btn-secondary {
  background-color: rgba(0, 0, 255, 0.911);
  color: white;
}

.btn-success {
  background-color: green;
  color: white;
}

.btn-warning {
  background-color: #ffc107;
  color: #333;
}

.floating-button {
  border: none;
  padding: 0.25rem;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  align-items: center;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

.floating-button-icon {
  font-size: 1.25rem;
}

.icon-button {
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px;
}

.icon-button i {
  padding: 0.5rem;
  padding-left: 0rem;
}
