.main-container {
  display: flex;
}

.image-avatar-container {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.avatar-container {
  display: flex;
  flex-direction: column;

}

.image-avatar{
  margin: 1rem;
}