.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  font-size: 20px;
}

.sidebar-items {
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  padding: 0.5rem 0rem;
}

.sidebar-container-main {
  display: flex;
}

@media (max-width: 768px) {
  .sidebar-container  {
    display: none;
  }
}
